<!DOCTYPE html>
<html lang="en">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css" />
</head>
<body>
<h1>Мои задачи:</h1>
<ul>
    {% for m in menu%}
    <li>
        <h3>{{ m[1] }}</h3>
        <p>{{ m[2] }}</p>
        <ul>
            <li>{{ m[3] }}</li>
            <li>{{ m[4] }}</li>
        </ul>
        <form action="/" method="POST">
        <input type="hidden" name="complete" value="{{ m[0] }}">
            <button type="submit">Выполнено</button>
        </form>

    </li>
    {% endfor %}
</ul>


<h1>Добавление статьи</h1>

<form action="/" method="post" class="form-contact">
<p><label for="title">Заголовок: </label><br>
    <input type="text"  id="title" name="title"><br><br>
<p><label for="contents">Задача: </label><br>
    <textarea name="contents" id="contents"></textarea><br><br>
<input type="submit" value="Добавить задачу" name="add">
</form>
</body>
</html>